@charset "UTF-8";
.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.p20 {
  padding: 20px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.text-gradient {
  background: -webkit-linear-gradient(#060101, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradientNav {
  font-size: 30px;
  background: -webkit-linear-gradient(#000000, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardEquip {
  background-color: #fff;
  border-radius: 10px;
  font-size: 17px;
  padding: 16px;
  color: goldenrod;
}

.card-text {
  padding: 10px;
  font-size: 25px;
}

.carousel {
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto;
} /* Centra el carrusel horizontalmente */
img {
  max-height: 400px; /* Ajusta la altura máxima de las imágenes según tus necesidades */
  max-width: 100%; /* Ajusta el ancho máximo de las imágenes según tus necesidades */
  height: auto; /* Ajusta la altura de las imágenes proporcionalmente al ancho */
  width: auto; /* Ajusta el ancho de las imágenes proporcionalmente al alto */
  margin: 0 auto; /* Centra las imágenes horizontalmente */
}

#carouselExampleIndicators img {
  max-height: 400px;
  width: 100%;
}

.carousel-item img {
  height: 400px;
}

.carousel-item img.img-fluid {
  height: auto;
  max-height: 400px;
}

.gridmainequipos {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #0a0b0b 10%, #0a0754 100%);
}

.container {
  margin-top: 100px;
}

img {
  border-radius: 50%;
}

h2 {
  text-align: center;
  font-size: 50%;
  background: -webkit-linear-gradient(#000a1a, #fbfbfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: blue;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 1.25rem;
}

.fontContenido {
  font-size: 17px;
  color: #b6a80e;
}

.fontContenidoTitulo {
  font-size: 23px;
  color: gold;
}

.fontContenidoroman {
  font-size: 17px;
  color: black;
}

.nobackground {
  background-image: none;
}

.highligth {
  font-size: 40px;
  font-weight: bold;
  color: blue;
}

.center {
  display: block;
  text-align: -webkit-center;
}

.grid div {
  border: 1px solid black;
}

.grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto;
}

header {
  border-radius: 25px;
}

li {
  padding: 20px;
  transition: 1s all;
  font-size: 25px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: 1.5s all;
  color: #030ae7;
}

.atransi {
  text-decoration: none;
  transition: 1.5s all;
}

.img-fluid {
  width: 100%;
  height: auto;
}

li:hover {
  font-size: 50px;
  padding: 16px;
  border-radius: 45px;
  background: -webkit-linear-gradient(rgb(23, 20, 20), rgb(6, 5, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hcolor {
  background: #030ae7;
  background: linear-gradient(0deg, #030ae7 21%, rgb(225, 237, 24) 97%);
}

.hover {
  transition: 2s all;
}

.encabezado {
  position: static;
  top: 0%;
}

/* GRID INDEX */
header, body, main, ul {
  display: flex;
}

.just-content-spa-betw {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

a {
  color: black;
  font-size: 28px;
  text-decoration: none;
  padding: 5px;
  margin: 10px;
}

.jusconbetween {
  justify-content: space-between;
}

.flexequip {
  display: flex;
}

.fontContenido {
  font-size: 17px;
  color: gold;
}

.fontContenidoTitulo {
  font-size: 23px;
  color: blue;
}

h1 {
  text-align: center;
  font-size: 72px;
  background: -webkit-linear-gradient(#f9e71c, #e5f124);
  -webkit-background-clip: text;
  -webkit-text-fill-color: blue;
  -webkit-text-fill-color: transparent;
}

body {
  background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);
}

.gridmainequipos {
  display: grid;
  grid-template-areas: "tituloequipos tituloequipos tituloequipos tituloequipos" "EquipA EquipB EquipC EquipD";
  grid-template-columns: 25% 25% 25% 25%;
  /* repeat(4, 25%) */
  grid-template-rows: auto auto;
}

.tituloequipos {
  grid-area: tituloequipos;
}

.EquipA {
  grid-area: EquipA;
}

.EquipB {
  grid-area: EquipB;
}

.EquipC {
  grid-area: EquipC;
}

.EquipD {
  grid-area: EquipD;
}

.Equip {
  background-color: #c7ef13;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
}

footer {
  background: rgb(41, 20, 204);
  background: linear-gradient(0deg, rgb(41, 20, 204) 29%, rgb(225, 237, 24) 33%, rgb(225, 237, 24) 70%, rgb(41, 20, 204) 72%);
}

.p20 {
  padding: 20px;
}

img {
  border-radius: 25px;
}

@body {
  background-color: silver;
}
.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.m-5 {
  margin: 50px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.p-desktop {
  font-size: 4rem;
}

.p-mobile {
  font-size: 2rem;
}

.p-tablet {
  font-size: 2.3rem;
}

.boton, .boton-terciario, .boton-secundario, .boton-primario, .boton-advertencia, .boton-error, .boton-exito {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #000;
  color: black;
  border: 10px solid blue;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.transform {
  transform: translate(10px, 43px);
}

.scale {
  transform: scale(0.8, 0.8);
}

.scale2 {
  transform: scale(1, 0.3);
}

/*# sourceMappingURL=style.css.map */
