// BUCLES
// #{$nombreVariable} -> interpolacion
// significa que el valor que tomo la variable va a pasarse al momento de interpolarse
@for $i from 1 through 5{
    .m-#{$i}{
        margin: 10px * $i;
    }
}

@for $padding from 1 through 5{
    .pb-#{$padding}{
        padding-bottom: 10px * $padding;
    }
}

// EACH

@each $color in grey, silver, goldenrod, blue,{
    .text-#{$color}{
        color:#{$color};
    }
}
// MAPA

$dispo:(
    desktop:4rem,
    mobile:2rem,
    tablet:2.3rem,
);

@each $dispo, $tamaFuente in $dispo{
    .p-#{$dispo}{
        font-size:$tamaFuente;
    }
}

$estilosTipograficos:(
    fSize:4rem,
    font: goldenrod,   
    text-align:center,
    display:flex, 
    fFamily:'arial',
)

// h1{
//     font-size:map-get($estilosTipograficos, fSize);
//     color:map-get($estilosTipograficos,fColor);
//     font-family:map-get($estilosTipograficos,fFamily);
// }