/* DESKTOP */
@media (min-width:1024px){
    /* GRID INDEX */
    .gridindex{
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: auto auto auto;
    }

    .gridindex2{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto ;
      }
   header, footer, ul{display: flex;}
   main{
    display: grid;
    grid-template-areas: 
    "imgPrincipal imgPrincipal imgPrincipal"
    "titulo titulo titulo"
    "pIzq imgTexto pDer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,auto);
   }
   .imgPrincipal{grid-area: imgPrincipal;}
   .titulo{grid-area: titulo;}
   .parrafoIzq{grid-area: pIzq;}
   .imgtexto{grid-area: imgtexto;}
   .parrafoDer{grid-area: pDer;}
   .just-content-spa-betw{
    justify-content: space-between;}
   .align-items-center{align-items: center;}
   a{color: black; font-size: 28px;
    padding: 5px; margin: 10px;}
.hover{transition: 1s all;}
   } 

.jusconbetween{justify-content: 
    space-between;}
.flexequip{display: flex;}
    /* flex */
li{padding: 20px;}
ul{list-style-type: none;}
a{text-decoration: none; font-size: 22px;}
.fontContenido{ font-size: 27px;
    color: #f9e71c;    
}
h1{text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#f9e71c, #2813b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);}
    
    // margin: 0;
    // background: #72A0C1;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #536976, #72A0C1);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #536976, #72A0C1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background-size: cover;
    // background-repeat: no-repeat;}
//     #BBD2C5
// #BBD2C5
// #BBD2C5
.gridmainequipos{
        display: grid;
        grid-template-areas: 
        "tituloequipos tituloequipos tituloequipos tituloequipos"
        "EquipA EquipB EquipC EquipD";
        grid-template-columns: 25% 25% 25% 25%;
    /* repeat(4, 25%) */
    grid-template-rows: auto auto;
    }
.tituloequipos{grid-area: tituloequipos;}
.EquipA{grid-area: EquipA;}
.EquipB{grid-area: EquipB;}
.EquipC{grid-area: EquipC;}
.EquipD{grid-area: EquipD;}
    
.Equip{
        background-color: $colorPrincipal; padding: 5px; 
        margin: 10px; border-radius: 20px;}

footer{
// {background: rgb(12,19,107);
//     background: linear-gradient(0deg, rgba(12,19,107,1) 6%, rgba(45,63,193,1) 26%, rgba(80,130,203,1) 45%, rgba(121,121,143,1) 94%);
background: rgb(41,20,204);
background: linear-gradient(0deg, rgba(41,20,204,1) 29%, rgba(225,237,24,1) 33%, rgba(225,237,24,1) 70%, rgba(41,20,204,1) 72%);}

.p20{padding: 20px;}
img{border-radius: 33px;}
