.grid div{border: 1px solid black;}
.grid{
    display: grid;
    grid-template-columns:30% 70%;
    grid-template-rows:auto auto;
}
head{background-color: grey;}
ul{list-style-type: none;}
a{text-decoration: none;}
.img-fluid{width: 100%; height: auto;}