/* MOBILE */
@media (max-width:768px){
        header,body,main,footer{display:flex;
        flex-direction: column;align-items: center;
        background: rgb(41,20,204);
        background: linear-gradient(0deg, rgba(41,20,204,1) 21%, rgba(225,237,24,1) 97%);}

        //  background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);}
        ul{display: flex;padding: 0px;}
        .transform{transform: translate(0px, 1px);}
        a{color: blue; font-size: 15px;
        padding: 5px; margin: 5px;}
        p{font-size: 20px;}
        // .gridmainequipos{
        //     display: flex;
        //     flex-direction: column;
        // }
    }
header{
    background: rgb(41,20,204);
    background: linear-gradient(0deg, rgba(41,20,204,1) 32%, rgba(225,237,24,1) 38%, rgba(225,237,24,1) 63%, rgba(41,20,204,1) 67%);
}
body{
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}
.encabezado{
    position: static; top: 0%;
}

