// /* TABLET */
// @media (min-width: 769px) and (max-width:1023px){
//     header{display:flex;
//         flex-direction: column;align-items: center;
//         background: rgb(41,20,204);
//         background: linear-gradient(0deg, rgba(41,20,204,1) 21%, rgba(225,237,24,1) 97%);}
//         ul{display: flex;padding: 0px;}
//         .transform{transform: translate(0px, 1px);}
//         a{color: blue; font-size: 15px;
//         padding: 5px; margin: 5px;}
//         p{font-size: 20px;
//         color: black;
//         }
//         h1{text-align: center;
//             font-size: 72px;
//             background: -webkit-linear-gradient(#f9e71c, #e5f124);
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//         }
//         h2 {
//             text-align: center;
//             font-size: 72px;
//             background: -webkit-linear-gradient(#080a56, #000ea6);
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//           }
    
// header{
//     background: rgb(41,20,204);
//     background: linear-gradient(0deg, rgba(41,20,204,1) 32%, rgba(225,237,24,1) 38%, rgba(225,237,24,1) 63%, rgba(41,20,204,1) 67%);
// }
// body{
//     background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);}

// .encabezado{
//     position: static; top: 0%;
// }
// footer{
//     background: rgb(41,20,204);
// background: linear-gradient(0deg, rgba(41,20,204,1) 29%, rgba(225,237,24,1) 33%, rgba(225,237,24,1) 70%, rgba(41,20,204,1) 72%);
// }
// }









// .gridindex {
//         display: grid;
//         grid-template-columns: 100%;
//         grid-template-rows: auto auto auto;}
// .gridmainequipos {
//     display: flex;
//     flex-direction: column;
//     background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%)
// }
// .transform{transform: translate(124px, -15px);}
// footer{
//     background: rgb(41,20,204);
// background: linear-gradient(0deg, rgba(41,20,204,1) 29%, rgba(225,237,24,1) 33%, rgba(225,237,24,1) 70%, rgba(41,20,204,1) 72%);
// }
// }