$colorPrincipal:#c7ef13;
$colorSecundario:#aacc;
$colorTerciario:#aacc99;
$negro:#000;
$blanco:#fff;
$blue:blue;
$gray:gray;
$silver: silver;

// tamanos de fuente
// tamanos de fuente
// $pDesktop:1.5rem;
// $pMobile:1.3rem;
// $hDesktop:3rem;
// $hMobile:2rem;